*{
    margin: 0;
    padding: 0;
    color: royalblue;

}
.container{
    margin: auto;
    width: 33rem;
    height: 23rem;
    border: 2px solid #0000;
    border-radius: 2px;
    background-color: aliceblue;

}
#btn{
    color: aliceblue;
    background-color: rgb(14, 111, 196);
    padding:8px 2rem;
    width: 9rem;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin:auto;
    cursor: pointer;
}
#text{
    margin: 42px 23px;
    padding: 21px;
    font-size: larger;
    font-weight: 500;

}